# Application
*.apk
*.ap_

# Dalvik VM
*.dex

# Java
*.class

# Generated
/bin
/gen
/out

# Gradle
/.gradle
build

# Local config
/local.properties

# Proguard
/proguard

# Logs
*.log

# Android Studio
/.navigation
/captures

# IntelliJ
/.idea
*.iml

# Keystore
# *.jks

# Json
# google-services.json
output.json

# OSX
.DS_Store